In [1]:
import pandas as pd
import mysql.connector as db
import plotly.graph_objects as go
import plotly.express as px
import requests
import json

In [2]:
#DataFrame Creation

#MySQL Connection
mydb = db.connect(
    host="localhost",
    port="3306",
    user="root",
    password="GovaMoni@Kanali26",
    database="phonepe_project")
mycursor = mydb.cursor()

#aggre_insurance_df
mycursor.execute("""SELECT * FROM aggregated_insurance""")
#mydb.commit()
table1 = mycursor.fetchall()

Aggre_insurance = pd.DataFrame(table1, columns = ("States", "Years", "Quarter", "Insurance_type", "Insurance_count","Insurance_amount"))

#aggre_transaction_df
mycursor.execute("""SELECT * FROM aggregated_transaction""")
#mydb.commit()
table2 = mycursor.fetchall()

Aggre_transaction = pd.DataFrame(table2, columns = ("States", "Years", "Quarter", "Transaction_type", "Transaction_count","Transaction_amount"))


#aggre_user_df
mycursor.execute("""SELECT * FROM aggregated_user""")
#mydb.commit()
table3 = mycursor.fetchall()

Aggre_user = pd.DataFrame(table3, columns = ("States", "Years", "Quarter", "Brands", "Transaction_count","Percentage"))


#map_insurance_df
mycursor.execute("""SELECT * FROM map_insurance""")
#mydb.commit()
table4 = mycursor.fetchall()

Map_insurance = pd.DataFrame(table4, columns = ("States", "Years", "Quarter", "District", "Transaction_count","Transaction_amount"))


#map_transaction_df
mycursor.execute("""SELECT * FROM map_transaction""")
#mydb.commit()
table5 = mycursor.fetchall()

Map_transaction = pd.DataFrame(table5, columns = ("States", "Years", "Quarter", "District", "Transaction_count","Transaction_amount"))


#map_user_df
mycursor.execute("""SELECT * FROM map_user""")
#mydb.commit()
table6 = mycursor.fetchall()

Map_user = pd.DataFrame(table6, columns = ("States", "Years", "Quarter", "District", "Registered_Users","App_Opens"))


#top_insurance_df
mycursor.execute("""SELECT * FROM top_insurance""")
#mydb.commit()
table7 = mycursor.fetchall()

Top_insurance = pd.DataFrame(table7, columns = ("States", "Years", "Quarter", "Pincodes", "Transaction_count","Transaction_amount"))


#top_transaction_df
mycursor.execute("""SELECT * FROM top_transaction""")
#mydb.commit()
table8 = mycursor.fetchall()

Top_transaction = pd.DataFrame(table8, columns = ("States", "Years", "Quarter", "Pincodes", "Transaction_count","Transaction_amount"))


#top_user_df
mycursor.execute("""SELECT * FROM top_user""")
#mydb.commit()
table9 = mycursor.fetchall()

Top_user = pd.DataFrame(table9, columns = ("States", "Years", "Quarter", "Pincodes", "Registered_Users"))

In [35]:
#TOP CHART

def top_chart_transaction_amount(table_name):

    #MySQL Connection
    mydb = db.connect(
        host="localhost",
        port="3306",
        user="root",
        password="GovaMoni@Kanali26",
        database="phonepe_project")
    mycursor = mydb.cursor()

    #Plot_1
    query1 = f'''SELECT States, SUM(Transaction_amount) AS Transaction_amount
                FROM {table_name}
                GROUP BY States
                ORDER BY Transaction_amount desc
                LIMIT 10;'''
    mycursor.execute(query1)
    table1 = mycursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table1, columns=("States", "Transaction_amount"))

    fig_amt1 = px.bar(df_1, x="States", y="Transaction_amount", title="TRANSACTION AMOUNT", hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amt1.show()

    #Plot_2
    query2 = f'''SELECT States, SUM(Transaction_amount) AS Transaction_amount
                FROM {table_name}
                GROUP BY States
                ORDER BY Transaction_amount
                LIMIT 10;'''
    mycursor.execute(query2)
    table2 = mycursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2, columns=("States", "Transaction_amount"))

    fig_amt2 = px.bar(df_2, x="States", y="Transaction_amount", title="TRANSACTION AMOUNT", hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650,width= 600)
    fig_amt2.show()


    #Plot_3
    query3 = f'''SELECT States, AVG(Transaction_amount) AS Transaction_amount
                FROM {table_name}
                GROUP BY States
                ORDER BY Transaction_amount;'''
    mycursor.execute(query3)
    table3 = mycursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3, columns=("States", "Transaction_amount"))

    fig_amt3 = px.bar(df_3, x="Transaction_amount", y="States", title="TRANSACTION AMOUNT", hover_name="States", orientation="h",
                    color_discrete_sequence=px.colors.sequential.Blackbody_r, height= 650,width= 600)
    fig_amt3.show()

In [ ]:
top_chart_transaction_amount("aggregated_transaction")

In [37]:
def top_chart_transaction_count(table_name):

    #MySQL Connection
    mydb = db.connect(
        host="localhost",
        port="3306",
        user="root",
        password="GovaMoni@Kanali26",
        database="phonepe_project")
    mycursor = mydb.cursor()

    #Plot_1
    query1 = f'''SELECT States, SUM(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY States
                ORDER BY Transaction_count desc
                LIMIT 10;'''
    mycursor.execute(query1)
    table1 = mycursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table1, columns=("States", "Transaction_count"))

    fig_amt1 = px.bar(df_1, x="States", y="Transaction_count", title="TRANSACTION COUNT", hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amt1.show()

    #Plot_2
    query2 = f'''SELECT States, SUM(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY States
                ORDER BY Transaction_count
                LIMIT 10;'''
    mycursor.execute(query2)
    table2 = mycursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2, columns=("States", "Transaction_count"))

    fig_amt2 = px.bar(df_2, x="States", y="Transaction_count", title="TRANSACTION COUNT", hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650,width= 600)
    fig_amt2.show()


    #Plot_3
    query3 = f'''SELECT States, AVG(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY States
                ORDER BY Transaction_count;'''
    mycursor.execute(query3)
    table3 = mycursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3, columns=("States", "Transaction_count"))

    fig_amt3 = px.bar(df_3, x="Transaction_count", y="States", title="TRANSACTION COUNT", hover_name="States", orientation="h",
                    color_discrete_sequence=px.colors.sequential.Blackbody_r, height= 650,width= 600)
    fig_amt3.show()

In [ ]:
top_chart_transaction_count("aggregated_user")

In [41]:
def top_chart_registered_users(table_name, state):

    #MySQL Connection
    mydb = db.connect(
        host="localhost",
        port="3306",
        user="root",
        password="GovaMoni@Kanali26",
        database="phonepe_project")
    mycursor = mydb.cursor()

    #Plot_1
    query1 = f'''SELECT District, SUM(Registered_Users) AS Registered_Users
                    FROM {table_name}
                    WHERE States = '{state}'
                    GROUP BY District
                    ORDER BY Registered_Users DESC
                    LIMIT 10;'''
    mycursor.execute(query1)
    table1 = mycursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table1, columns=("District", "Registered_Users"))

    fig_amt1 = px.bar(df_1, x="District", y="Registered_Users", title="TOP 10 OF REGISTERED USERS", hover_name="District",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amt1.show()

    #Plot_2
    query2 = f'''SELECT District, SUM(Registered_Users) AS Registered_Users
                    FROM {table_name}
                    WHERE States = '{state}'
                    GROUP BY District
                    ORDER BY Registered_Users
                    LIMIT 10;'''
    mycursor.execute(query2)
    table2 = mycursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2, columns=("District", "Registered_Users"))

    fig_amt2 = px.bar(df_2, x="District", y="Registered_Users", title="LAST 10 OF REGISTERED USERS", hover_name="District",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650,width= 600)
    fig_amt2.show()


    #Plot_3
    query3 = f'''SELECT District, AVG(Registered_Users) AS Registered_Users
                    FROM {table_name}
                    WHERE States = '{state}'
                    GROUP BY District
                    ORDER BY Registered_Users;'''
    mycursor.execute(query3)
    table3 = mycursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3, columns=("District", "Registered_Users"))

    fig_amt3 = px.bar(df_3, x="Registered_Users", y="District", title="AVERAGE OF REGISTERED USERS", hover_name="District", orientation="h",
                    color_discrete_sequence=px.colors.sequential.Blackbody_r, height= 650,width= 600)
    fig_amt3.show()

In [ ]:
top_chart_registered_users("map_user", "Tamil Nadu")

In [44]:
def top_chart_app_opens(table_name, state):

    #MySQL Connection
    mydb = db.connect(
        host="localhost",
        port="3306",
        user="root",
        password="GovaMoni@Kanali26",
        database="phonepe_project")
    mycursor = mydb.cursor()

    #Plot_1
    query1 = f'''SELECT District, SUM(App_Opens) AS App_Opens
                    FROM {table_name}
                    WHERE States = '{state}'
                    GROUP BY District
                    ORDER BY App_Opens DESC
                    LIMIT 10;'''
    mycursor.execute(query1)
    table1 = mycursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table1, columns=("District", "App_Opens"))

    fig_amt1 = px.bar(df_1, x="District", y="App_Opens", title="TOP 10 OF APP OPENS", hover_name="District",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amt1.show()

    #Plot_2
    query2 = f'''SELECT District, SUM(App_Opens) AS App_Opens
                    FROM {table_name}
                    WHERE States = '{state}'
                    GROUP BY District
                    ORDER BY App_Opens
                    LIMIT 10;'''
    mycursor.execute(query2)
    table2 = mycursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2, columns=("District", "App_Opens"))

    fig_amt2 = px.bar(df_2, x="District", y="App_Opens", title="LAST 10 OF APP OPENS", hover_name="District",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650,width= 600)
    fig_amt2.show()


    #Plot_3
    query3 = f'''SELECT District, AVG(App_Opens) AS App_Opens
                    FROM {table_name}
                    WHERE States = '{state}'
                    GROUP BY District
                    ORDER BY App_Opens;'''
    mycursor.execute(query3)
    table3 = mycursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3, columns=("District", "App_Opens"))

    fig_amt3 = px.bar(df_3, x="App_Opens", y="District", title="AVERAGE OF APP OPENS", hover_name="District", orientation="h",
                    color_discrete_sequence=px.colors.sequential.Blackbody_r, height= 650,width= 600)
    fig_amt3.show()

In [ ]:
top_chart_app_opens("map_user", "Tamil Nadu")

In [49]:
def top_chart_registered_users(table_name):

    #MySQL Connection
    mydb = db.connect(
        host="localhost",
        port="3306",
        user="root",
        password="GovaMoni@Kanali26",
        database="phonepe_project")
    mycursor = mydb.cursor()

    #Plot_1
    query1 = f'''SELECT States, SUM(Registered_Users) AS Registered_Users
                    FROM {table_name}
                    GROUP BY States
                    ORDER BY Registered_Users DESC
                    LIMIT 10;'''
    mycursor.execute(query1)
    table1 = mycursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table1, columns=("States", "Registered_Users"))

    fig_amt1 = px.bar(df_1, x="States", y="Registered_Users", title="TOP 10 OF REGISTERED USERS", hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amt1.show()

    #Plot_2
    query2 = f'''SELECT States, SUM(Registered_Users) AS Registered_Users
                    FROM {table_name}
                    GROUP BY States
                    ORDER BY Registered_Users DESC
                    LIMIT 10;'''
    mycursor.execute(query2)
    table2 = mycursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2, columns=("States", "Registered_Users"))

    fig_amt2 = px.bar(df_2, x="States", y="Registered_Users", title="LAST 10 OF REGISTERED USERS", hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height= 650,width= 600)
    fig_amt2.show()


    #Plot_3
    query3 = f'''SELECT States, AVG(Registered_Users) AS Registered_Users
                    FROM {table_name}
                    GROUP BY States
                    ORDER BY Registered_Users;'''
    mycursor.execute(query3)
    table3 = mycursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3, columns=("States", "Registered_Users"))

    fig_amt3 = px.bar(df_3, x="Registered_Users", y="States", title="AVERAGE OF REGISTERED USERS", hover_name="States", orientation="h",
                    color_discrete_sequence=px.colors.sequential.Blackbody_r, height= 650,width= 600)
    fig_amt3.show()

In [ ]:
top_chart_registered_users("top_user")

In [ ]:
Aggre_insurance

In [3]:
#Functions for insurance based on year

def insurance_amount_count_Y(df, year):#[Tacy & Tacyg is dataframe]
    Tacy = df[df["Years"]==year] #Tacy["Years"].unique()
    Tacy.reset_index(drop=True, inplace=True)
    #Tacy
    Tacyg = Tacy.groupby("States")[["Insurance_count", "Insurance_amount"]].sum()
    Tacyg.reset_index(inplace=True)
    #Tacyg


    #Plot creation

    #INSURANCE AMOUNT
    fig_amount = px.bar(Tacyg, x="States", y="Insurance_amount", title=f"{year} INSURANCE AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amount.show()


    #INSURANCE COUNT
    fig_count = px.bar(Tacyg, x="States", y="Insurance_count", title=f"{year} INSURANCE COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_count.show()

    url ="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                                color = "Insurance_amount", color_continuous_scale="Rainbow",
                                range_color=(Tacyg["Insurance_amount"].min(), Tacyg["Insurance_amount"].max()),
                                hover_name="States", title=f"{year} INSURANCE AMOUNT", fitbounds="locations", 
                                height=600, width=600)
    
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                            color = "Insurance_count", color_continuous_scale="Rainbow",
                            range_color=(Tacyg["Insurance_count"].min(), Tacyg["Insurance_count"].max()),
                            hover_name="States", title=f"{year} INSURANCE COUNT", fitbounds="locations", 
                            height=600, width=600)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

    return Tacy

In [4]:
#Functions for insurance based on quarter


def insurance_amount_count_Y_Q(df, quarter):#[Tacy & Tacyg is dataframe]
    Tacy = df[df["Quarter"]==quarter] #Tacy["Years"].unique()
    Tacy.reset_index(drop=True, inplace=True)
    #Tacy
    Tacyg = Tacy.groupby("States")[["Insurance_count", "Insurance_amount"]].sum()
    Tacyg.reset_index(inplace=True)
    #Tacyg


    #Plot creation

    #INSURANCE AMOUNT
    fig_amount = px.bar(Tacyg, x="States", y="Insurance_amount", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER INSURANCE AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amount.show()


    #INSURANCE COUNT
    fig_count = px.bar(Tacyg, x="States", y="Insurance_count", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER INSURANCE COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_count.show()

    url ="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                                color = "Insurance_amount", color_continuous_scale="Rainbow",
                                range_color=(Tacyg["Insurance_amount"].min(), Tacyg["Insurance_amount"].max()),
                                hover_name="States", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER INSURANCE AMOUNT", fitbounds="locations", 
                                height=600, width=600)
    
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                            color = "Insurance_count", color_continuous_scale="Rainbow",
                            range_color=(Tacyg["Insurance_count"].min(), Tacyg["Insurance_count"].max()),
                            hover_name="States", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER INSURANCE COUNT", fitbounds="locations", 
                            height=600, width=600)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

In [5]:
#Functions for transaction based on year

def transaction_amount_count_Y(df, year):#[Tacy & Tacyg is dataframe]
    Tacy = df[df["Years"]==year] #Tacy["Years"].unique()
    Tacy.reset_index(drop=True, inplace=True)
    #Tacy
    Tacyg = Tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    Tacyg.reset_index(inplace=True)
    #Tacyg


    #Plot creation

    #TRANSACTION AMOUNT
    fig_amount = px.bar(Tacyg, x="States", y="Transaction_amount", title=f"{year} TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amount.show()


    #TRANSACTION COUNT
    fig_count = px.bar(Tacyg, x="States", y="Transaction_count", title=f"{year} TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_count.show()

    url ="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                                color = "Transaction_amount", color_continuous_scale="Rainbow",
                                range_color=(Tacyg["Transaction_amount"].min(), Tacyg["Transaction_amount"].max()),
                                hover_name="States", title=f"{year} TRANSACTION AMOUNT", fitbounds="locations", 
                                height=600, width=600)
    
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                            color = "Transaction_count", color_continuous_scale="Rainbow",
                            range_color=(Tacyg["Transaction_count"].min(), Tacyg["Transaction_count"].max()),
                            hover_name="States", title=f"{year} TRANSACTION COUNT", fitbounds="locations", 
                            height=600, width=600)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

    return Tacy

In [6]:
#Functions for insurance based on quarter

def transaction_amount_count_Y_Q(df, quarter):
    Tacy = df[df["Quarter"]==quarter] 
    Tacy.reset_index(drop=True, inplace=True)
    Tacyg = Tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    Tacyg.reset_index(inplace=True)


    #Plot creation
    #TRANSACTION AMOUNT
    fig_amount = px.bar(Tacyg, x="States", y="Transaction_amount", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl, height= 650,width= 600)
    fig_amount.show()


    #TRANSACTION COUNT
    fig_count = px.bar(Tacyg, x="States", y="Transaction_count", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r, height=650, width=600)
    fig_count.show()

    url ="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                                color = "Transaction_amount", color_continuous_scale="Rainbow",
                                range_color=(Tacyg["Transaction_amount"].min(), Tacyg["Transaction_amount"].max()),
                                hover_name="States", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds="locations", 
                                height=600, width=600)
    
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2 = px.choropleth(Tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                            color = "Transaction_count", color_continuous_scale="Rainbow",
                            range_color=(Tacyg["Transaction_count"].min(), Tacyg["Transaction_count"].max()),
                            hover_name="States", title=f"{Tacy["Years"].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds="locations", 
                            height=600, width=600)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

In [7]:
#Functions for transaction type

def aggre_trans_type(df, state):
    Tacy = df[df["States"]== state]
    Tacy.reset_index(drop=True, inplace=True)

    Tacyg = Tacy.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    Tacyg.reset_index(inplace=True)

    fig_pie_1 = px.pie(data_frame= Tacyg, names="Transaction_type", values= "Transaction_amount", width=600, title= f"{state.upper()} TRANSACTION_AMOUNT", hole=0.5)
    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame= Tacyg, names="Transaction_type", values= "Transaction_count", width=600, title= f"{state.upper()} TRANSACTION_COUNT", hole=0.5)
    fig_pie_2.show()

In [8]:
#Aggree_User_analysis_1
def Aggre_user_plot_1(df, year):
    aguy = df[df["Years"] == year]
    aguy.reset_index(drop = True, inplace= True)

    aguyg = aguy.groupby("Brands")[["Transaction_count"]].sum()
    aguyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyg, x="Brands", y="Transaction_count", title=f"{year} BRANDS AND TRANSACTION_COUNT", width=800,
                       color_discrete_sequence=px.colors.sequential.haline_r, hover_name="Brands")
    fig_bar_1.show

    return aguy

In [9]:
#Aggregated_user_analysis_2
def Aggre_user_plot_2(df, quarter):
    aguyq = df[df["Quarter"] == quarter]
    aguyq.reset_index(drop = True, inplace= True)


    aguyqg = aguyq.groupby("Brands")[["Transaction_count"]].sum()
    aguyqg.reset_index(inplace=True)

    fig_bar_2 = px.bar(aguyqg, x="Brands", y="Transaction_count", title=f"{quarter} QUARTER, BRANDS AND TRANSACTION_COUNT", width=800,
                        color_discrete_sequence=px.colors.sequential.haline_r, hover_name="Brands")
    fig_bar_2.show()

    return aguyq

In [10]:
#Aggregated_User_Analysis_3
def Aggre_user_plot_3(df, state):
    auyqs = df[df["States"] == state]
    auyqs.reset_index(drop=True, inplace=True)

    fig_line_1 = px.line(auyqs, x="Brands", y="Transaction_count", hover_data="Percentage", title=f"{state.upper()} BRANDS_TRANSACTION COUNT_PERCENTAGE", width=1000, markers=True)
    fig_line_1.show()

In [11]:
#Map_Insurance_District
def map_insur_District(df, state):
    mid = df[df["States"]== state]
    mid.reset_index(drop=True, inplace=True)

    midg = mid.groupby("District")[["Transaction_count", "Transaction_amount"]].sum()
    midg.reset_index(inplace=True)

    fig_bar_1 = px.bar(midg, x="Transaction_amount", y= "District", orientation="h", title= f"{state.upper()} DISTRICT AND TRANSACTION_AMOUNT",
                       color_discrete_sequence=px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(midg, x="Transaction_count", y= "District", orientation="h", title= f"{state.upper()} DISTRICT AND TRANSACTION_COUNT",
                       color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_bar_2.show()

In [12]:
#Map_User_analysis_1
def map_user_plot_1(df, year):
    muy = df[df["Years"] == year]
    muy.reset_index(drop = True, inplace= True)
    muyg = muy.groupby("States")[["Registered_Users", "App_Opens"]].sum()
    muyg.reset_index(inplace=True)

    fig_line_1 = px.line(muyg, x="States", y=["Registered_Users", "App_Opens"], title= f"{year} REGISTERED_USERS, APP_OPENS", width=1000, height=800, markers= True)
    fig_line_1.show()

    return muy

In [13]:
#Map_User_analysis_2
def map_user_plot_2(df, quarter):
    muyq = df[df["Quarter"] == quarter]
    muyq.reset_index(drop = True, inplace= True)
    muyqg = muyq.groupby("States")[["Registered_Users", "App_Opens"]].sum()
    muyqg.reset_index(inplace=True)

    fig_line_1 = px.line(muyqg, x="States", y=["Registered_Users", "App_Opens"], title= f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED_USERS, APP_OPENS",
                         width=1000, height=800, markers= True, color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_line_1.show()

    return muyq

In [14]:
#Map_user_analysis_3
def map_user_plot_3(df, states):
    muyqs = df[df["States"] == states]
    muyqs.reset_index(drop = True, inplace= True)

    fig_map_user_bar_1 = px.bar(muyqs, x="Registered_Users", y="District", orientation="h", title= "REGISTERED_USERS", height=800,
                                color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()


    fig_map_user_bar_2 = px.bar(muyqs, x="App_Opens", y="District", orientation="h", title= "APP_OPENS", height=800,
                                color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [15]:
#Top Insurance analysis
def top_ins_plot_1(df, state):
    tiy = df[df["States"] == state]
    tiy.reset_index(drop = True, inplace= True)

    fig_top_ins_bar_1 = px.bar(tiy, x="Quarter", y="Transaction_amount", hover_data="Pincodes", title= "TRANSACTION AMOUNT", height=800,
                                color_discrete_sequence=px.colors.sequential.deep_r)
    fig_top_ins_bar_1.show()

    fig_top_ins_bar_2 = px.bar(tiy, x="Quarter", y="Transaction_count", hover_data="Pincodes", title= "TRANSACTION COUNT", height=800,
                                color_discrete_sequence=px.colors.sequential._r)
    fig_top_ins_bar_2.show()

In [16]:
#Top user analysis_1
def top_user_plot_1(df, year):
    tuy = df[df["Years"] == year]
    tuy.reset_index(drop = True, inplace= True)

    tuyg = tuy.groupby(["States", "Quarter"])[["Registered_Users"]].sum()
    tuyg.reset_index(inplace=True)

    fig_top_user_bar_1=px.bar(tuyg, x="States", y="Registered_Users", color="Quarter", width=1000, height=800,
                            color_discrete_sequence= px.colors.sequential.Burgyl, hover_name="States", title= f"{year} REGISTERED USERS")
    fig_top_user_bar_1.show()

    return tuy

In [17]:
#Top user analysis_2
def top_user_plot_2(df, state):
    tuys = df[df["States"]==state]
    tuys.reset_index(drop=True, inplace=True)


    fig_top_user_bar_2 = px.bar(tuys, x="Quarter", y="Registered_Users", title=f"{state} REGISTERED_USERS, PINCODES, QUARTER", width=1000, height=800, hover_data="Pincodes",
                                color="Registered_Users", color_continuous_scale=px.colors.sequential.Bluered_r)
    fig_top_user_bar_2.show()

### Aggregated Insurance

In [ ]:
tac_Y = transaction_amount_count_Y(Aggre_transaction, 2023)

### Aggregated Transaction

In [ ]:
aggree_tran_tac_Y = transaction_amount_count_Y(Aggre_transaction, "Tamil Nadu")

### Aggregated User

In [ ]:
Aggre_user_Y=Aggre_user_plot_1(Aggre_user, 2022)
Aggre_user_Y

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y, 2)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Tamil Nadu")

### MAP INSURANCE

In [ ]:
M_Ins_Y = transaction_amount_count_Y(Map_insurance, 2023)

In [ ]:
map_insur_District(M_Ins_Y, "West Bengal")

In [ ]:
M_Ins_Y_Q=transaction_amount_count_Y_Q(M_Ins_Y, 3)

In [ ]:
map_insur_District(M_Ins_Y_Q, "West Bengal")

### Map Transaction

In [ ]:
M_Tran_Y = transaction_amount_count_Y(Map_transaction, 2023)

In [ ]:
map_insur_District(M_Tran_Y, "West Bengal")

In [ ]:
M_Tran_Y_Q=transaction_amount_count_Y_Q(M_Tran_Y, 3)

In [ ]:
map_insur_District(M_Tran_Y_Q, "West Bengal")

### Map User

In [ ]:
map_user_Y=map_user_plot_1(Map_user, 2021)
map_user_Y

In [ ]:
map_user_Y_Q=map_user_plot_2(map_user_Y, 3)

In [ ]:
map_user_plot_3(map_user_Y_Q, "Tamil Nadu")

### TOP INSURANCE

In [ ]:
T_Ins_Y = transaction_amount_count_Y(Top_insurance, 2023)

In [ ]:
top_ins_plot_1(T_Ins_Y, "West Bengal")

In [ ]:
T_Ins_Y_Q=transaction_amount_count_Y_Q(T_Ins_Y, 3)

### Top Transaction

In [ ]:
T_Tran_Y = transaction_amount_count_Y(Top_transaction, 2023)

In [ ]:
top_ins_plot_1(T_Tran_Y, "West Bengal")

In [ ]:
T_Tran_Y_Q=transaction_amount_count_Y_Q(T_Tran_Y, 3)

### TOP USER

In [ ]:
top_user_Y = top_user_plot_1(Top_user, 2021)

In [ ]:
top_user_plot_2(top_user_Y, "Tamil Nadu")